@use 'src/configurations/theme.scss' as theme;

.task-confirm-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 294px;
  height: 120px;
  box-sizing: border-box;

  padding: 25px 20px;
  background: theme.$taskConfirmBlock;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.task-confirm-block header {
  font-weight: 500;
}

.task-confirm__data-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 14px;

  width: 245px;
  height: 70px;
}

.data-control__input-block {
  display: inline-flex;
}
