@use 'src/configurations/theme.scss' as theme;

.user-info-label {
  width: max-content;
  max-height: 50px;

  padding: 2px 7px;
  font-size: 18px;
  background: theme.$userInfoLabel;
  border-radius: 3px;
}
