@use 'src/configurations/theme.scss' as theme;

.team-member-avatar {
  background: url("public/currencies/ruble.svg");
  width: 73px;
  height : 73px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

.team-lead-avatar {
  border: 2px solid theme.$teamLeadAvatarBorder;
}
