@use 'src/configurations/theme.scss' as theme;

.button {
  display: flex;
  padding: 8px 12px;
  font-size: 10px;
  background: theme.$primary;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #FFFFFF;
  color: theme.$primary;
  border: 1px solid theme.$primary
}

.button:active {
  background: theme.$primary;
  color: #FFFFFF;
  //transition-duration: s;
  //box-shadow: 0 5px #666;
  transform: translateY(1px);
}
