@use 'src/configurations/theme.scss' as theme;

.category-filter-tab {
  display: flex;
  background: #FFFFFF;
  justify-content: flex-start;
  width: min-content;
  height: 30px;
  border-radius: 0 5px 5px 0;
  padding-right: 15px;
  cursor: pointer;
}

.active {
  background: theme.$activeFilterTabBackground;
}

.tab {
  &__start-line-mark {
    width: 5px;
    height: 100%;
    border-radius: 0 2px 2px 0;
    background: theme.$primary;
    justify-items: center;
  }
  &__filter {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }
}

