.team-member {
  display: inline-block;
  text-align: center;
  height: 100px;
}

.team-members-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 955px;
  margin-bottom: 35px;
}
