@use 'src/configurations/theme' as theme;

%flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

%flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-gratitude-block {
  @extend %flex-column;

  width: 294px;
  height: 265px;
  box-sizing: border-box;

  border-radius: 15px;
  background: theme.$userGratitudeBlock;
  text-align: left;
  padding: 25px 20px;

  &__header-text {
    font-size: 16px;
    font-weight: 500;
  }
  &__user-choice {
    @extend %flex-column;
    width: 255px;
    height: 60px;
  }
  &__bonus-choice {
    @extend %flex-column;
    width: 250px;
    height: 60px;

  }
  &__control-line {
    @extend %flex-row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
  }
}

.user-gratitude-block__control-line .auto-complete-input {
  position: relative;
}

.user-choice__header {
  font-size: 14px;
  font-weight: 300;
}

.control-line {
  &__currency-section {
    @extend %flex-row;

    width: 120px;
    height: 28px;
  }
}

.send-bonus-block {
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
}
